[Environment]
ENVIRONMENT             = 



[Debug]
DEBUG                   = True

[Database]
DATABASE_USER           = 
DATABASE_HOST           = 
DATABASE_ENGINE         = 
DATABASE_NAME           = 
DATABASE_PORT           = 
DATABASE_PASSWORD       = 
